/* Write your CSS here */
.balanceSection {
  display: flex;

  justify-content: space-around;
  width: 32%;
  height: 100%;
  border-radius: 6px;
  border: #000000 solid 1px;
  align-items: center;
}
.headingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading2 {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bold;
  color: #000000;
}
.paragraph2 {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.transactionImg {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
